<div class="outer_div col-md-12">
    <form [formGroup]="login" class="col-md-4 form_">
        <div class="heading_">
            <h1>Admin Registration</h1>
        </div>

        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control input_" formControlName="email" id="exampleFormControlInput1"
            placeholder="Registered Email Id">

        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control input_" formControlName="password" id="exampleFormControlInput1"
            placeholder="Password">

        <div class="col-md-12 mt-3 btn_class">
            <button type="button" class="btn btn-danger">Cancel</button>
            <button type="button" class="btn btn-primary submit_btn" (click)="logins()" value="Submit">Login</button>
        </div>
    </form>
</div>