
<div class="outer_div col-md-12">
    <form [formGroup]="studentreg" class="col-md-6 form_">
        <div class="heading_">
            <h1>Student Registration</h1>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control input_" formControlName="studentName" 
            placeholder="Name of the Faculty">
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['studentName'].touched) && (studentreg.hasError('required','studentName'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['studentName'].invalid"><i>Name
                        required</i></span>
            </div>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Date of Birh</label>
        <input type="date" class="form-control input_" formControlName="dob" 
            placeholder="Dd/MM/YYYY">

        <label for="exampleFormControlTextarea1" class="form-label">Address</label>
        <textarea class="form-control input_" formControlName="address" 
            placeholder="Current Address"></textarea>
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['address'].touched) && (studentreg.hasError('required','address'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['address'].invalid"><i>Adress is
                        required</i></span>
            </div>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Contact</label>
        <input type="text" class="form-control input_" formControlName="contact" 
            placeholder="Personal Contact Number">
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['contact'].touched) && (studentreg.hasError('required','contact'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['contact'].invalid"><i>phone is
                        required</i></span>
            </div>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control input_" formControlName="email" 
            placeholder="Personal Email Id">
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['email'].touched) && (studentreg.hasError('required','email'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['email'].invalid"><i>Email is
                        required</i></span>
            </div>
        </div>

        <label class="form-label"> School</label>
        <select class="form-select form-control input_" formControlName="schoolId" aria-label="Default select example">
            <option value="" hidden disabled selected>---Choose Registered school---</option>
            <option *ngFor="let sf of student" value={{sf.schoolId}}>
                {{sf.schoolName}}
            </option>
        </select>

        <div class="col-md-12 mt-3 btn_class">
            <button type="button" class="btn btn-danger">Cancel</button>
            <button type="button" class="btn btn-primary submit_btn" (click)="registration()"
                value="Submit">Submit</button>
        </div>
    </form>
</div>