
<div class="outer_div col-md-12">
    <form [formGroup]="studentreg" class="col-md-6 form_">
        <div class="heading_">
            <h1>Student Registration</h1>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control input_" formControlName="studentName" id="exampleFormControlInput1"
            placeholder="Name of the Faculty">
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['studentName'].touched) && (studentreg.hasError('required','studentName'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['studentName'].invalid"><i>Name
                        required</i></span>
            </div>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Date of Birh</label>
        <input type="date" class="form-control input_" formControlName="dob" id="exampleFormControlInput1"
            placeholder="Dd/MM/YYYY">
        <label for="exampleFormControlTextarea1" class="form-label">Address</label>
        <textarea class="form-control input_" formControlName="address" id="exampleFormControlTextarea1"
            placeholder="Current Address"></textarea>
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['address'].touched) && (studentreg.hasError('required','address'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['address'].invalid"><i>Adress is
                        required</i></span>
            </div>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Contact</label>
        <input type="text" class="form-control input_" formControlName="phone" id="exampleFormControlInput1"
            placeholder="Personal Contact Number">
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['phone'].touched) && (studentreg.hasError('required','phone'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['phone'].invalid"><i>phone is
                        required</i></span>
            </div>
        </div>
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control input_" formControlName="email" id="exampleFormControlInput1"
            placeholder="Personal Email Id">
        <div>
            <span class="sp" style="color: brown;"
                *ngIf="(studentreg.controls['email'].touched) && (studentreg.hasError('required','email'))"></span>
            <div *ngIf="flag==true">
                <span class="text-danger" *ngIf="studentreg.controls['email'].invalid"><i>Email is
                        required</i></span>
            </div>
        </div>
        <div class="col-md-12 mt-3 btn_class">
            <button type="button" class="btn btn-danger">Cancel</button>
            <button type="button" class="btn btn-primary submit_btn" (click)="registration()"
                value="Submit">Submit</button>
        </div>
    </form>
</div>