.heading_ {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
    background: gray;
  }
  
  .container {
    width: 500px;
    height: 60px
  }
  
  /* The point of this tutorial is here */
  .form {
    display: flex;
    flex-direction: row;

  }
  .search-field {
    width: 50%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    padding: 0 10px;
    background: #ccc;
    border: none;
    outline: none;
    margin-left: -33px;
    border-radius: 0 100px 100px 0; 
  }
  
  .search-button:hover{
    cursor:pointer;
    background:#aaa;
  }
  .search_{
    position: fixed;
    margin-left: 66%;
    width: 44%;
  }
  