.outer_div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
}

.form_ {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: block;
    align-items: center;
    justify-content: center;
}

.heading_ {
    text-align: center;
}

.input_ {
    border-color: rgb(59, 59, 59);
}

.btn_class {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_btn {
    margin-left: 10px;
}